/* Font */
@font-face {
  font-family: gothamL;
    src: url("../../both/fonts/GothamLight.ttf");
}

@font-face {
  font-family: gothamBl;
    src: url("../../both/fonts/GothamBlack.otf");
}

@font-face {
  font-family: gothamB;
    src: url("../../both/fonts/GothamBold.ttf");
}

@font-face {
  font-family: gothamBk;
    src: url("../../both/fonts/GothamBook.ttf");
}

@font-face {
  font-family: gothamM;
    src: url("../../both/fonts/GothamMedium.ttf");
}

@font-face {
  font-family: opensansL;
    src: url("../../both/fonts/OpenSans-Light.ttf");
}
/* End font */

/* Other */
.height_auto{
  height:auto !important;
}

.margin_cus{
  margin:auto 0 !important;
}

.align_center{
  display:block;
  margin:auto;
}

.align_center_nolr{
  display:block;
  margin:auto 0;
}

.cus_padding_minus{
  padding-right:0;
  padding-left:0;
}

.align_right{
  display:block;
  margin:auto 0 auto auto;
}

.center{
  text-align:center;
}

.left{
  text-align:left;
}

.right{
  text-align:right;
}

.ds_block{
  display:block !important;
}

.img_width{
  width:100%;
}

.img_center{
  display:block;
  margin:auto;
}

.flex_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.flex_table > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.cus_input{
  border-radius:0 !important;
}
/* End Other */

/* Loading */
body.style-10 .bubbles span{background: #ca1515;}
#loader-wrapper{position: fixed; width: 100%; height: 100%; background: #fff; z-index: 1000;}
.bubbles{text-align: center; position: absolute; left: 0; width: 100%; top: 50%; margin-top: -30px;}
.bubbles .title{color: #a1a1a1; font-size: 25px; line-height: 25px; margin-bottom: 50px; font-weight: 500;}
.bubbles span {display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: #03b4ea; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; animation: bubbly .9s infinite alternate;}
#bubble2 {animation-delay: .27s;}
#bubble3 {animation-delay: .54s;}
@-webkit-keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    -webkit-transform: translateY(-32px);
  }
}
@keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}
/* End Loading */

/* Container */
.cus_container{
  margin-left:5%;
  margin-right:5%;
}

.cus_container2{
  margin-left:8%;
  margin-right:8%;
}

.cus_container3{
  margin-left:3.5%;
  margin-right:3.5%;
}

.cus_container4{
  margin-left:15%;
  margin-right:15%;
}

.cus_container5{
  margin-right:4.5%;
  margin-left:4.5%;
}
/* End Container */ 

/* Header */
.head_menu a{
  font-family:gothamL !important;
  color:#666666;
  font-size:0.8em;
}

.icon-bar{
  background-color:#666666;
  width: 30px !important;
  height: 3px !important;
}

.cus_offset{
  display:none !important;
}

.cus_drop{
  width:auto;
  min-width: 100%;
  padding: 5px;
}

.cus_drop li a{
  padding-top:8px;
  padding-bottom:8px;
  color:#666666 !important;
}

#custom-search-input{
  position:absolute;
  display:none;
  margin:auto;
  height:100%;
}

#search_in{
  cursor:pointer;
}

.scr_con{
  margin-bottom:35px;
}

.scr_tl{
  color: #076529;
  font-family: gothamB !important;
  font-size: 1em;
  cursor:pointer;
}

.scr_desc p, .scr_desc h1,.scr_desc h2,.scr_desc h3,.scr_desc h4,.scr_desc h5,.scr_desc h6{
    color: #3A3A3C;
    font-family: gothamL !important;
    text-align:justify;
}
/* End Header */

/* Home */
  /* Slideshow */
  .swiper-home {
      width: 100%;
      height: 100%;
    }

  .swiper-home > .swiper-wrapper > .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-home > .swiper-slide img{
    min-height:300px;
  }

  .slide_back{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background: rgba(0, 0, 0, 0.3);
  }

  .slide_desc{
    margin-right:3.5%;
    margin-left:3.5%;
    width:50%;
    left:0;
    position:absolute;
    height:80%;
    top:0;
  }

  .slide_desc_tl{
    position:absolute;
    bottom:10%;
    color:#FFFFFF !important;
    text-align:left;
  }

  .slide_desc_tl h1{
    font-size:1.8em !important;
    font-family:gothamBl !important;
    font-weight:normal !important;
    letter-spacing: 3px;
    /*margin-bottom:28px;*/
    margin-bottom:10px;
  }

  .slide_desc_tl p{
    font-family:gothamM !important;
    font-size:0.9em;
    margin-bottom:0;
  }

  .slide_desc_tl button{
    background-color:#076529 !important;
    border:none !important;
    outline:none !important;
    color:#ffffff !important;
    font-family:gothamL !important;
    font-size:0.7em;
    margin-top:10px;
    padding:1.5% 5%;
    border-radius:0 !important;
  }

  /* Cus Slideshow */
  .cus_size{
    min-height:200px;
  }

  .cus_slide_con{
    width:100%;
    position:absolute;
    height:100%;
    top:0;
  }

  .cus_slide_cons{
    height:80%;
    width:auto;
    margin-left:3%;
    margin-right:3%;
    position:relative;
  }

  .cus_slide_con1{
    position:absolute;
    bottom:0;
    right:0;
    width:auto;
    height:auto;
  }

  .cus_slide_con1_con{
    display: flex;
    flex-wrap: wrap;
  }

  .cus_pagination{
    position:relative;
    display:block;
    margin:auto 30px;
  }
  
  .cus_pagination > .swiper-pagination-bullet{
    background-color:#ffffff;
    opacity:1 !important;
    width:12px;
    height:12px;
    margin-left:15px;
  }

  .cus_pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color:#4D4D4D;
    margin-left:15px;
  }

  .hm_button-next{
    position:relative;
    display:inline-block;
    background:transparent;
    border:none;
    outline:none;
    z-index:20;
  }

  .hm_button-prev{
    position:relative;
    display:inline-block;
    background:transparent;
    border:none;
    outline:none;
    z-index:20;
  }
  /* End Cus Slideshow */
/* End Slideshow */

.hm_cons1{
  position:relative;
}

.hm_abs{
  position:relative;
  margin-top:-5%;  
  padding-top:30px;
  z-index:100;
  background-color:#ffffff;
}

.hm_con1{
  margin:0 30px 0 30px;
}

.hm_con1_con{
  margin-bottom:30px;
}

.hm_con1_cus_col{
  padding-left:0;
  padding-right:0;
  background-color:#F2F0E9;
}

.hm_con1_img{
  display:block;
  margin:auto 0;
}

.hm_con1_r{
  background-color:#F2F0E9;
}

.hm_con1_pad{
  padding:30px;
}

.hm_con1_r h3{
  color:#076529;
  font-weight:normal !important;
  font-family:gothamM !important;
  font-size:1em;
  margin-top:0;
  margin-bottom:25px;
}

.hm_con1_r p{
  font-family:gothamL !important;
  color:#3A3A3C;
  font-size:0.9em;
}

.hm_con1_2_r{
  background-color:#076529;
}

.hm_con1_2_pad{
  padding:30px;
}

.hm_con1_2_r h3{
  color:#ffffff;
  font-weight:normal !important;
  font-family:gothamM !important;
  font-size:1em;
  margin-top:0;
  margin-bottom:25px;
}

.hm_con1_2_r p{
  font-family:gothamL !important;
  color:#ffffff;
  font-size:1em;
}

.hm_con1_2_lm{
  color:#ffffff;
  position:absolute;
  bottom:30px;
  font-family:gothamL !important;
}

.hm_con1_2_lm a{
  font-size:0.9em;
  color:#ffffff !important;
  text-decoration:none !important;
}

.hm_con1_2_lm i{
  font-size:0.9em;
  margin-left:8px;
}

.hm_con1_2_lm2{
  color:#3A3A3C;
  position:absolute;
  bottom:30px;
  font-family:gothamL !important;
}

.hm_con1_2_lm2 a{
  font-size:0.9em;
  color:#3A3A3C !important;
  text-decoration:none !important;
}

.hm_con1_2_lm2 i{
  font-size:0.9em;
  margin-left:8px;
}

.hm_con2_1_pad{
  padding-left:30px;
  margin-top:30px;
}

.hm_con2{
  margin-top:15px;
  background-size:cover;
}

.hm_cons2{
  padding-top:8%;
  padding-bottom:8%;
  text-align:center;
  background:rgba(0, 0, 0, 0.5);
  color:#ffffff;
}

.hm_cons2 h3{
  margin-top:0;
  margin-bottom:5px;
  font-size:1.8em;
  font-family:gothamBL !important;
}

.hm_cons2 button{
  background-color:#076529 !important;
  border:none !important;
  outline:none !important;
  color:#ffffff !important;
  font-family:gothamL !important;
  font-size:0.9em;
  margin-top:15px;
  padding:8px 20px;
  border-radius:0 !important;
}

.hm_con3{
  margin-top:30px;
  margin-bottom:30px;
}

.hm_con3_1{
  margin-left:30px;
}

.hm_con3_1 p{
  color:#076529;
  font-family:gothamM !important;
  font-size:1.2em;
  margin-bottom:20px;
}

.hm_item{
  margin-right:10px;
  padding-right:10px;
  border-right:2px solid #999999;
}

  /* Slide Owl Home */
  .owl-carousel {
    position: relative;
  }

  .owl-text > .owl-nav > .owl-prev,
  .owl-text > .owl-nav > .owl-next {
    position: absolute;
    top: 30%;
    opacity:none !important;
    background:transparent !important;
  }

  .owl-text > .owl-nav > .owl-prev {
    left: -6%;
  }

  .owl-text > .owl-nav > .owl-next {
    right: -6%;
  }

  .hm_carousel{
    margin-right:0 !important;
    margin-left:0 !important;
  }

  .hm_item_tl{
    color:#076529;
    font-family:gothamBl !important;
    font-size:1.1em;
    cursor:pointer;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .hm_item_des{
    color:#3A3A3C;
    font-family:gothamL !important;
    font-size:1em;
    max-height: 5.5em;
    min-height: 5.5em;
    overflow: hidden;
    margin-bottom: 15px;
  }
  /* End Slide Owl Home */
/* End Home */

/* Page Header */
.page_head{
  background-color:#076529;
  padding-top:6%;
  padding-bottom:6%;
  color:#ffffff;
  margin-bottom:50px;
  background-size:cover;
  background-position:center;
  position:relative;
}

.page_head_tl{
  font-family:gothamL !important;
  font-size:1em;
  margin-bottom:30px;
  letter-spacing:1px;
  text-transform:capitalize;
}

.page_head_des h3{
  font-family:gothamBl !important;
  font-size:36.91px;
  letter-spacing:5px;
  font-weight:normal !important;
  text-transform:capitalize;
}

.page_head_bg{
  background: rgba(0, 0, 0, 0.6);
  position:absolute;
  width:100%;
  height:100%;
  top:0;
}
/* End Page Header */
 
/* About Us */
  /* Vision Mission */
  .vm_con1{
    margin-bottom:40px;
  }

  .vm_con1_r{
    margin-top:15px;
    color:#076529;
  }

  .vm_con1_r1{
    font-family:gothamL !important;
    font-size:1.1em;
    margin-bottom:20px;
  }

  .vm_con1_r2{
    font-family:gothamM !important;
    font-size:1.2em;
  }

  .vm_con1_hr{
    margin:6% 0;
    border:1px solid #076529;
  }

  .vm_con1_1{
    margin-bottom:50px;
  }

  .vm_con2_hr{
    border-top:1px solid #3A3A3C;
    margin-bottom:50px;
  }

  .vm_con2_r{
    color:#076529;
  }

  .vm_con2_r1{
    font-family:gothamL !important;
    font-size:1.1em;
    margin-bottom:20px;
  }

  .vm_con2_r2{
    list-style: none;
    font-family:gothamM !important;
    padding-left: 15px;
    font-weight:normal;
  }

  .vm_con2_r2 li{
    margin-bottom:15px;
  }

  .vm_con2_r2 li:before {
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: #0C6634;
    float: left;
    margin: .25em .25em 0 -1.2em;
    border-radius: 50%;
  }
  /* End Vission Mission */

  /* Company Strength */
  .cs_con{
    margin-bottom:50px;
  }

  .cs_consl{
    margin-bottom:50px;
  }

  .cs_conl{
    color:#076529;
  }

  .cs_conl_tl{
    font-family:gothamB !important;
    font-size:1.2em;
    margin-bottom:30px;
    color:#076529;
  }

  .cs_conl_des{
    font-family:gothamL !important;
    font-size:1em;
    margin-bottom:30px;
    color:#3A3A3C;
  }

  .cs_conl ul{
    list-style: none;
    font-family:gothamL !important;
    padding-left: 15px;
    color:#3A3A3C;
  }

  .cs_conl ul li p{
    margin-bottom:5px;
    color:#3A3A3C;
  }

  .cs_conl ul li:before {
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: #0C6634;
    float: left;
    margin: .25em .25em 0 -1.2em;
    border-radius: 50%;
  }

  .cs_conl_bt{
    height:100%;
    width:2px;
    background-color:#076529;
    opacity:0.5;
    margin-left:5%;
    min-height:50px;
  }
  /* End Company Strength */

  /* Milestones */
  .ml_con1_1{
    margin-bottom:50px;
  }

  .ml_con1l{
    background-color:#3A3A3C;
  }

  .ml_con1_2{
    margin-bottom:40px;
  }

  .ml_con1_2_1{
    padding-left:0;
  }

  .ml_con1_2_1 img{
    margin-bottom:15px;
  }

  .ml_con1_2_1 p{
    color:#076529;
    font-family:gothamM !important;
    font-size:1em;
  }

  .ml_con1l{
    padding-top:35px;
    padding-bottom:35px;
  }

  .ml_con1r{
    background-size:cover;
  }

  .ml_cons1l{
    width:auto;
    height:auto;
    position:relative;
    display:block;
    margin:auto;
  }

  .ml_list{
    color:#ffffff;
    list-style: none;
    padding-left:0;
  }

  .ml_list li {  
    margin-bottom:20px;
    text-align:center;
  }

  .ml_list li p{
    cursor:pointer;
  }

  .ml_button{
    background:transparent;
    border:none !important;
    outline:none !important;
    color:#ffffff;
  }

  .ml_con1r_bg{
    background: rgba(0, 0, 0, 0.6);
    height:100%;
    color:#ffffff;
    padding:35px;
    display:none;
  }

  .ml_con1_active{
    display:block !important;
  }

  .ml_con1r_con1{
    margin-bottom:15px;
  }

  .ml_con1r_con1 p{
    font-family:gothamM !important;
    font-size:1em;
    margin-bottom:4px;
  }

  .ml_con1r_con2{
    margin-bottom:15px;
  }

  .ml_con1r_con2 p{
    font-family:gothamB !important;
    font-size:4em !important;
  }

  .ml_con1r_desc p{
    font-family:gothamL !important;
    font-size:0.9em;
    margin-bottom:4px;
  }
  /* End Milestones */
/* End About Us */

/* Corporate Governance */
  .bdc_title{
    margin-bottom:35px;
  }

  .bdc_title h3{
    font-family:gothamB !important;
    color:#3A3A3C;
    margin-top:0;
  }

  .bdc_title_hr{
    width:100%;
    height:4px;
    background-color:#076529;
  }

  .bdc_con{
    margin-bottom:10px;
  }

  .bdc_acc1{
    margin-bottom:40px;
  }

  .bdc_acc1_tl{
    border-top:4px solid #076529;
  }

  .bdc_acc1_button{
    position:absolute;
    width:35px;
    height:30px;
    right:0;
    padding:0 !important;
    border:0 !important;
    outline:none !important;
    background-color:#076529 !important;
    color:#ffffff;
  }

  .bdc_acc1_button > .fa-sort-asc{
    margin-top:8px;
    font-size:1.7em !important;
  }

  .bdc_acc1_button > .fa-sort-desc{
    margin-top:-8px;
    font-size:1.7em !important;
  }

  .bdc_acc1_name{
    margin-top:40px;
    font-family:gothamB !important;
    color:#076529;
    font-size:1em;
    margin-bottom:5px;
  }

  .bdc_acc1_desc{
    margin-top:15px;
    font-family:gothamL !important;
    font-size:1em;
    color:#3A3A3C;
    text-align:justify;
  }
/* End Corporate Governance */

/* Mining assets */
.dot_r{
  float:right;  
}
  /* Pt bangun olah sarana */
  .ols_con1_tl{
    font-family:gothamB !important;
    font-size:0.9em;
    color:#076529;
  }

  .ols_con1_des{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
  }

  .ols_cons1{
    margin-bottom:50px;
  }

  .ols_con2_1 p{
    color:#076529;
    font-family:gothamL !important;
    font-size:1.2em;
    text-align:center;
  }

  .ols_con2_2{
    margin-bottom:50px;
  }
  /* End Pt bangun olah sarana */

    /* Pt pratama */
  .pra_con1_tl{
    font-family:gothamB !important;
    font-size:0.9em;
    color:#076529;
  }

  .pra_con1_des{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
  }

  .pra_cons1{
    margin-bottom:50px;
  }

  .pra_con2_1 p{
    color:#076529;
    font-family:gothamL !important;
    font-size:1.2em;
    text-align:center;
  }

  .pra_con2_2{
    margin-bottom:50px;
  }
  /* End Pt pratama */

  /* Pt Amzal */
  .amz_con1_tl{
    font-family:gothamB !important;
    font-size:0.9em;
    color:#076529;
  }

  .amz_con1_des{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
  }

  .amz_cons1{
    margin-bottom:50px;
  }

  .amz_con2_1 p{
    color:#076529;
    font-family:gothamL !important;
    font-size:1.2em;
    text-align:center;
  }

  .amz_con2_2{
    margin-bottom:50px;
  }
  /* End Pt Amzal */

    /* Pt Buana */
  .bua_con1_tl{
    font-family:gothamB !important;
    font-size:0.9em;
    color:#076529;
  }

  .bua_con1_des{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
  }

  .bua_cons1{
    margin-bottom:50px;
  }

  .bua_con2_1 p{
    color:#076529;
    font-family:gothamL !important;
    font-size:1.2em;
    text-align:center;
  }

  .bua_con2_2{
    margin-bottom:50px;
  }
  /* End Pt Buana */
/* End Mining assets */

/* Project Data */
.owl-project > .owl-nav > .owl-prev,
.owl-project > .owl-nav > .owl-next {
    position: absolute;
    top: 25%;
    margin: 0 !important;
    opacity:none !important;
    background:transparent !important;
  }

.owl-project > .owl-nav > .owl-prev {
  left: -6%;
}

.owl-project > .owl-nav > .owl-next {
  right: -6%;
}
  
  /* Project Production */
  .prj_pror1{
    background-color:#F2F0E9;
  }

  .prj_pror_tl{
    font-family:gothamB !important;
    font-size:0.9em;
    color:#076529;
  }

  .prj_pror_des{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
    margin-bottom:8px;
  }

  .prj_pror_des p{
    margin-bottom:4px;
    line-height: 180%;
  }

  .prj_pro_cons1{
    margin-bottom:50px;
  }

  .prj_pro_cons2{
    margin-bottom:40px;
  }
  /* End Project Production */

  /* Project Fort */
  .prj_con{
    margin-bottom:25px;
  }

  .prj_port_img{
    padding-left:0;
    padding-right:0;
    background-color:#F2F0E9;
  }

  .prj_portr1{
    background-color:#F2F0E9;
    padding-top:35px;
    padding-bottom:15px;
  }

  .prj_portr_tl{
    font-family:gothamB !important;
    font-size:0.9em;
    color:#076529;
  }

  .prj_portr_tls2{
    font-family:gothamBk !important;
    font-size:0.9em;
    color:#3A3A3C;
  }

  .prj_portr_des{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
    margin-bottom:8px;
  }

  .prj_portr_des p{
    margin-bottom:4px;
    line-height: 180%;
  }

  .prj_port_cons1{
    margin-bottom:50px;
  }

  .port_acc1{
    margin-bottom: 15px;
    padding-right:8%;
  }

  .port_acc1_tl{
    border-top:4px solid #076529;
  }

  .port_acc1_button{
    position:absolute;
    width:35px;
    height:30px;
    right:0;
    padding:0 !important;
    border:0 !important;
    outline:none !important;
    background-color:#076529 !important;
    color:#ffffff;
  }

  .port_acc1_button > .fa-sort-asc{
    margin-top:8px;
    font-size:1.7em !important;
  }

  .port_acc1_button > .fa-sort-desc{
    margin-top:-8px;
    font-size:1.7em !important;
  }

  .port_acc1_name{
    margin-top:40px;
    font-family:gothamB !important;
    color:#076529;
    font-size:1em;
    margin-bottom:5px;
  }

  .port_acc1_desc{
    margin-top:15px;
  }

  .port_acc1_content{
    font-family:gothamL !important;
    font-size:0.9em;
    color:#3A3A3C;
  }

  .port_acc1_content p{
    margin-bottom:4px;
    line-height: 180%;
  }
  /* End Project Fort */

  /* Project Guaranted */
  .prj_guar_cons1{
    margin-bottom:50px;
  }

  .prj_guar_cons2{
    margin-bottom:40px;
  }

  .prj_guar_conr_img{
    padding-top:35px;
    padding-bottom:15px;
  }

  .owl-guaranted > .owl-nav > .owl-prev,
  .owl-guaranted > .owl-nav > .owl-next {
    position: absolute;
    top: 25%;
    margin: 0 !important;
    opacity:none !important;
    background:transparent !important;
  }

  .owl-guaranted > .owl-nav > .owl-prev {
    left: -6%;
  }

  .owl-guaranted > .owl-nav > .owl-next {
    right: -6%;
  }
  /* End Project Guaranted */

  /* Project Coal */
  .prj_coal1{
    margin-bottom:35px;
  }

  .prj_coal2{
    margin-bottom:35px;
  }

  .prj_coal2_1{
    color:#076529;
    font-family:gothamM !important;
    font-size:1em;
    text-align:justify;
  }
  /* End Project Coal */

  /* Project Documents */
  .doc_con{
    margin-bottom:50px;
  }

  .doc_con2{
    margin-bottom:50px;
  }

  .doc_tl{
    font-family:gothamB !important;
    font-size:1em;
    margin-bottom:15px;
  }

  .doc_tl2{
    font-family:gothamB !important;
    font-size:1em;
    margin-bottom:15px;
  }

  .doc_img{
    margin-bottom:35px;
    outline:none !important;
    border:none !important;
  }

  .doc_pdf{
    text-align:center;
  }

  .doc_pdf img{
    display:block;
    margin:auto;
  }

  .mfp-img{
    max-height:540px !important;
  }

  .doc_table{
    background-color:#F2F0E9;
  }

  .doc_table > thead > tr > th{
    border:1px solid #076529;
    font-family:gothamB !important;
    font-size:1em;
    color:#3A3A3C;
  }

  .doc_table > tbody > tr > td{
    border:1px solid #076529;
    font-family:gothamBk !important;
    color:#3A3A3C;
    font-size:1em;
  }

  .doc_table > tbody > tr > td > a{
    font-family:gothamBk !important;
    color:#3A3A3C;
    font-size:1em;
  }

  .doc_table thead{
    border-top:8px solid #076529;
  }
  /* End Project Documents */
/* End Project Data */

/* Investor Relation */
.inve_dis{
  position:relative;
}

.inve_bg{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  background: rgba(0, 0, 0, 0.3);
}

.inve_desc{
  padding-right:3%;
  padding-left:3%;
  width:100%;
  left:0;
  right:0;
  position:absolute;
  height:80%;
  top:0;
}

.inve_desc_tl{
  position:absolute;
  bottom:0;
  color:#FFFFFF !important;
  text-align:left;
}

.inve_desc_tl h1{
  font-size:4em !important;
  font-family:gothamBl !important;
  font-weight:normal !important;
  letter-spacing: 3px;
  margin-bottom:28px;
}

.inve_cons1{
  position:relative;
}

.inve_abs{
  position:relative;
  margin-top:-5%;  
  padding-top:30px;
  z-index:100;
  background-color:#ffffff;
}

.owl-invest > .owl-nav > .owl-prev,
  .owl-invest > .owl-nav > .owl-next {
    position: absolute;
    top: 10%;
    opacity:none !important;
    background:transparent !important;
  }

  .owl-invest > .owl-nav > .owl-prev {
    left: -4%;
  }

  .owl-invest > .owl-nav > .owl-next {
    right: -4%;
  }

  .invest_tl{
    margin-bottom:15px;
    padding-left:35px;
  }

  .invest_tl p{
    font-size:1em;
    color:#076529;
    font-family:gothamM !important;
  }

  .invest_item{
    margin-right:10px;
    padding-right:10%;
    padding-left:10%;
    border-right:2px solid #999999;
  }

  .invest_item_tl{
    color:#076529;
    font-family:gothamBl !important;
    font-size:1.1em;
  }

  .invest_item_des{
    color:#3A3A3C;
    font-family:gothamL !important;
    font-size:1em;
  }

  .inve_con1{
    margin-bottom:35px;
  }

  .inve_cons2{
    margin-bottom:35px;
    margin-right:5px;
    margin-left:5px;
  }

  .invest_con1_cus_col{
    padding-left:0;
    padding-right:0;
    background-color:#F2F0E9;
  }

  .invest_con1_img{
    display:block;
    margin:auto 0;
  }

  .invest_con1_2_r{
    background-color:#076529;
  }

  .invest_con1_2_r h3{
    color:#ffffff;
    font-weight:normal !important;
    font-family:gothamM !important;
    font-size:1em;
    margin-top:0;
    margin-bottom:25px;
  }

  .invest_con1_2_r p{
    font-family:gothamL !important;
    color:#ffffff;
    font-size:0.9em;
  }

  .invest_con1_2_pad{
    padding:30px;
  }

  .invest_con1_2_lm{
    color:#ffffff;
    position:absolute;
    bottom:30px;
    font-family:gothamL !important;
  }

  .invest_con1_2_lm a{
    font-size:0.9em;
    color:#ffffff !important;
    text-decoration:none !important;
  }

  .invest_con1_2_lm i{
    font-size:0.9em;
    margin-left:8px;
  }

  .invest_con2_1_pad{
    padding-left:30px;
    margin-top:30px;
  }

.invest_con2{
  margin-top:15px;
  background-size:cover;
}

.invest_cons2{
  padding-top:8%;
  padding-bottom:8%;
  text-align:center;
  background:rgba(0, 0, 0, 0.3);
  color:#ffffff;
}

.invest_cons2 h3{
  margin-top:0;
  margin-bottom:5px;
  font-size:2em;
  /*font-family:gothemBL !important;*/
}

.invest_cons2 button{
  background-color:#076529 !important;
  border:none !important;
  outline:none !important;
  color:#ffffff !important;
  font-family:gothamL !important;
  font-size:0.7em;
  margin-top:10px;
  padding:8px 20px;
  border-radius:0 !important;
}
/* End Investor Relation */

/* Csr */
.csr_con{
  margin-bottom:50px;
}

.csr_consl{
  margin-bottom:50px;
}

.csr_conl{
  color:#076529;
}

.csr_conl_tl{
  font-family:gothamB !important;
  font-size:1.2em;
  margin-bottom:30px;
  color:#076529;
}

.csr_conl_des{
  font-family:gothamL !important;
  font-size:1em;
  margin-bottom:30px;
  color:#3A3A3C;
}

.csr_conl ul{
  list-style: none;
  font-family:gothamL !important;
  padding-left: 15px;
  color:#3A3A3C;
}

.csr_conl ul li p{
  margin-bottom:5px;
  color:#3A3A3C;
}

.csr_conl ul li:before {
  content: "";
  line-height: 1em;
  width: .5em;
  height: .5em;
  background-color: #0C6634;
  float: left;
  margin: .25em .25em 0 -1.2em;
  border-radius: 50%;
}

.csr_conl_bt{
  height: 100%;
  margin-left: 94.8%;
  background-color: #076529;
  opacity: 0.5;
  min-height: 50px;
  margin-right: 5%;
}
/* End Csr */

/* News Release */
.cus_navigation > .owl-nav{
  display:block !important; 
}

.nws_pro_cons1{
  margin-bottom:35px;
}

.nws_pro_h3{
  margin-bottom:15px;
}

.nws_pro_h3 h3{
  margin-top:0;
  color:#076529;
  font-family:gothamB !important;
  margin-bottom:4px;
  font-size:1em;
}

.nws_pro_con1 p{
  color:#3A3A3C;
  font-family:gothamL !important;
  text-align:justify;
}

.nws_pro_con2{
  margin-top:50px;
  margin-bottom:20px;
  color:#076529;
}

.nws_pro_con2 p{
  margin-bottom:0;
  font-size:1em;
  font-weight:600;
  font-family:gothamL !important;
}

.nws_pro_con3{
  margin-bottom:50px;
}

.nws_item{
  margin-right:10px;
  padding-right:10px;
  border-right:2px solid #999999;
}

.csr_item{
  margin-right:10px;
  padding-right:10px;
  border-right:2px solid #999999;
}

.nws_img{
  margin-bottom:15px;
}

.csr_item_tl{
  color:#076529;
  font-family:gothamBl !important;
  font-size:1.1em;
  cursor:pointer;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.csr_item_des{
  color:#3A3A3C;
  font-family:gothamL !important;
  font-size:1em;
  max-height: 5.5em;
  min-height: 5.5em;
  overflow: hidden;
  margin-bottom: 15px;
}

.owl-news > .owl-nav > .owl-prev,
.owl-news > .owl-nav > .owl-next {
  position: absolute;
  top: 30%;
  opacity:none !important;
  background:transparent !important;
}

.owl-news > .owl-nav > .owl-prev {
  left: -6%;
}

.owl-news > .owl-nav > .owl-next {
  right: -6%;
}
/* End News Release */

/* Contact Us */
.con_con{
  margin-bottom:15px;
}

.con_con1_pt{
  color:#076529;
  font-family:gothamM !important;
  font-size:0.9em;
}

.con_con1_addr{
  margin-bottom:30px;
}

.con_con1_addr p{
  color:#3A3A3C;
  font-family:gothamL !important;
  font-size:0.9em;
  margin-bottom:2px;
}

.con_con1_send{
  color:#076529;
  font-family:gothamM !important;
  font-size:0.9em;
  margin-bottom:30px;
}

.cont_input_1{
  margin-right:30px;
}

.cont_input_2{
  margin-left:15px;
  margin-right:15px;
}

.cont_input_3{
  margin-left:30px;
}

.cont_button{
  background-color:#3A3A3C !important;
  color:#ffffff !important;
  font-family:gothamL !important;
  font-size:1em;
  border:none !important;
  outline:none !important;
  border-radius:0 !important;
  margin-bottom:35px;
}
/* End Contact Us */

/* Footer */
.foot_r{
  background-color:#939598;
  padding-top:30px;
  padding-bottom:30px;
}

.foot_cons{
  color:#ffffff;
}

.foot_r_tl p{
  font-family:gothamBl !important;
  margin-bottom:15px;
  text-align:center;
  font-size:1.4em;
}

.foot_r_tl2 p{
  font-family:gothamBl !important;
  margin-bottom:15px;
  text-align:center;
  font-size:1.4em;
}

.foot_r_ph{
  font-family:gothamL !important;
  font-size:1em;
  text-align:center;
}

.foot_r_ph p{
  display:inline-block;
  margin-bottom:40px;
}

.foot_r_ph p:first-child{
  margin-right:20px;
  padding-right:20px;
  border-right:1px solid #ffffff;
}

.foot_r_ad{
  font-family:gothamL !important;
  font-size:1em;
  text-align:center;
  margin-bottom:30px;
}

.foot_r_ad p{
  margin-bottom:0;
}

.foot_r_sc{
  text-align:center;
}

.foot_r_sc img{
  display:inline-block;
  margin-left:15px;
}

.foot_copy{
  background-color:#ffffff;
  padding-top:12px;
  padding-bottom:12px;
  color:#076529;
  font-family:opensansL !important;
  text-align:center;
}

.foot_copy p{
  margin-bottom:0;
}

  /* Gmap */
  .google-map,
  #gmap-style-1,
  #gmap-style-2 {
      width: 100%;
      height: 400px;
      overflow: hidden;
  }
  .google-map { margin:auto; }
  #main-wrapper > .google-map { margin: 0 auto; }
  /* End Gmap */
/* End Footer */

/* Media Screen */
@media screen and (min-width:768px) and (max-width:991px){
  .cus_offset{
    display:block !important;
  } 
}

@media screen and (max-width:991px){
  .navbar-collapse.collapse {
      display: none !important;
  }

  .navbar-collapse{
    position:absolute !important;
    width:40% !important;
    height:400px;
    background-color: rgba(0, 0, 0, 0.8) !important;
    z-index:200;
  }

  .dropdown-menu{
    background-color:#ffffff !important;
  }

  .navbar-collapse.collapse li{ 
    width:100%;
  }

  .navbar-collapse.collapse li a{
    color:#ffffff;
    font-size:14px;
  }

  .navbar-collapse.collapse li a:hover{
    color:#666666 !important;
  }

  .navbar-collapse.collapse li a:focus{
    color:#666666 !important;
  }

  .navbar-collapse.collapse.in {
      display: block !important;
  }

  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }

  .navbar-header {
      float:none;
  }

  #custom-search-input{
    position:relative;
    margin-bottom:15px;
    margin-top:15px;
    margin-left:5px;
    margin-right:5px;
  }
}

@media screen and (min-width:992px){
  .navbar-header{
    display:none !important;
  }
}

@media screen and (min-width:992px) and (max-width:1334px){
  .head_menu a{
    font-size:0.5em !important;
  }
}

@media screen and (max-width:1023px){
  .foot_r_ph p{
    padding-right:0 !important;
    margin-right:0 !important;
    display:block;
    border:none !important;
    margin-bottom:0;
  }

  .foot_r_tl2{
    margin-top:30px;
  }

  .hm_abs{
    margin-top:0;
    margin-left:0;
    margin-right:0;
    z-index:0;
  }

  .inve_abs{
    margin-top:0;
    z-index:0;
  }

  .ols_cons1_mg{
    margin-top:15px;
  }

  .amz_cons1_mg{
    margin-top:15px;
  }

  .pra_cons1_mg{
    margin-top:15px;
  }

  .bua_cons1_mg{
    margin-top:15px;
  }

  .cont_input_1{
    margin-right:0;
    margin-left:0;
  }

  .cont_input_2{
    margin-right:0;
    margin-left:0;
  }

  .cont_input_3{
    margin-right:0;
    margin-left:0;
  }

  .cont_input_4{
    margin-right:15px;
  }

  .cont_input_5{
    margin-left:15px;
  }

  .vm_con2_r{
    margin-top:15px;
  }

  .cs_conl{
    margin-top:15px;
  }

  .csr_conl{
    margin-top:15px;
  }

  .slide_desc{
    width:100%;
  }

  .inve_desc{
    width:100%;
  }

  .slide_desc_tl h1{
    font-size:1em !important;
  }

  .inve_desc_tl h1{
    font-size:3em !important;
  }

  .ml_con1_2_1{
    padding-left:15px;
  }

  .ml_con1_2 .ml_con1_2_1:first-child{
    margin-bottom:15px;
  }

  .port_acc1{
    margin-right:15px;
    margin-left:15px;
    margin-bottom:30px;
  }

  .prj_portr_con1{
    margin-right:15px;
    margin-left:15px;
  }

  .mfp-img{
    max-height:350px !important;
  }
}

@media screen and (min-width:1024px){
  .hov_dropdown:hover > .dropdown-menu{
    display:block;
  }
}

@media screen and (max-width:1439px){
  .slide_desc_tl h1{
    font-size:1.3em !important;
  }

  .inve_desc_tl h1{
    font-size:2em !important;
  }

  .slide_desc_tl p{
    font-size:0.8em !important;
  }

  .slide_desc_tl button{
    font-size:0.8em !important;
  }

  .cus_container4{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width:1840px){
  .owl-project > .owl-nav > .owl-prev,
  .owl-project > .owl-nav > .owl-next {
    top:45% !important;
  }

  .owl-guaranted > .owl-nav > .owl-prev,
  .owl-guaranted > .owl-nav > .owl-next {
    top:45% !important;
  }

  .owl-text > .owl-nav > .owl-prev,
  .owl-text > .owl-nav > .owl-next {
    top:0 !important;
  }

  .owl-csr > .owl-nav > .owl-prev,
  .owl-csr > .owl-nav > .owl-next {
    top:0 !important;
  }

  .owl-news > .owl-nav > .owl-prev,
  .owl-news > .owl-nav > .owl-next {
    top:0 !important;
  }

  .owl-invest > .owl-nav > .owl-prev,
  .owl-invest > .owl-nav > .owl-next {
    top:0 !important;
  }
}

@media screen and (max-width:767px){
  .navbar-collapse {
      position:relative !important;
      width:100% !important;
      height:auto !important;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar-collapse.collapse li{ 
    width:100%;
  }

  .navbar-collapse.collapse li a{
    color:#ffffff;
    font-size:14px;
  }

  .navbar-collapse.collapse li a:hover{
    color:#666666 !important;
  }

  .navbar-collapse.collapse li a:focus{
    color:#666666 !important;
  }

  .hm_item{
    border-right:0 !important;
    padding-right:0 !important;
    margin-right:0 !important;
    position: relative;
    padding-left: 0;
  }

  .invest_tl{
    padding-left:25px;
  }

  .invest_item{
    border-right:0 !important;
  }

  .csr_item{
    border-right:0 !important;
    padding-right:0 !important;
    margin-right:0 !important;
    padding-left: 0;
    position: relative;
  }

  .nws_item{
    border-right:0 !important;
    padding-right:0 !important;
    margin-right:0 !important;
    padding-left: 0;
    position: relative;
  }

  .owl-project > .owl-stage-outer > .owl-item > .item{
    border-right:0 !important;
    padding-right:0 !important;
    margin-right:0 !important;
    padding-left: 0;
    position: relative;
  }

  .owl-next{
    right:-10% !important;
  }

  .owl-prev{
    left:-10% !important;
  }

  .cs_consl_img{
    margin-bottom:15px;    
  }

  .csr_consl_img{
    margin-bottom:15px;    
  }

  .dot_r{
    float:none !important;
  }

  .cont_input_4{
    margin-right:0;
  }

  .cont_input_5{
    margin-left:0;
  }

  .cus_slide_cons{
    height:98%;
  }

  .slide_desc_tl h1{
    font-size:0.8em !important;
  }

  .inve_desc_tl h1{
    font-size:2em !important;
  }

  .slide_desc_tl p{
    font-size:0.7em !important;
  }

  .slide_desc_tl button{
    font-size:0.7em !important;
  }

  .csr_pro_con1{
    margin-top:35px;
  }

  .nws_pro_con1{
    margin-top:35px;
  }

  .csr_item_tl{
    min-height:0;
  }
}
/* End Media Screen 