<template>
   <div class="content-push">
        <div class="information-blocks">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar-navigation">
                        <div class="title">Product Categories<i class="fa fa-angle-down"></i></div>
                        <div class="list">
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Evening dresses</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Jackets and coats</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Tops and Sweatshirts</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Blouses and shirts</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Trousers and Shorts</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Evening dresses</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Jackets and coats</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Tops and Sweatshirts</span></a>
                            <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Blouses and shirts</span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-9">

                    <div class="navigation-banner-swiper">
                        <div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide active" data-val="0"> 
                                    <div class="navigation-banner-wrapper align-1" style="background-image: url(img/kids.jpg);">
                                        <div class="navigation-banner-content">
                                            <div class="cell-view">
                                                <h2 class="subtitle">New collection is coming</h2>
                                                <h1 class="title">Valentine’s</h1>
                                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing  elit, sed do eiusmod tempor incididunt.</div>
                                                <div class="info">
                                                    <a class="button style-1" href="#">Shop Now</a>
                                                    <a class="button style-1" href="#">Features</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="1"> 
                                    <div class="navigation-banner-wrapper align-2" style="background-image: url(img/kids-1.jpg);">
                                        <div class="navigation-banner-content">
                                            <div class="cell-view">
                                                <h2 class="subtitle" style="color: #c20f17;">Take care of children</h2>
                                                <h1 class="title">Education</h1>
                                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing  elit, sed do eiusmod tempor incididunt.</div>
                                                <div class="info">
                                                    <a class="button style-1" href="#">Shop Now</a>
                                                    <a class="button style-1" href="#">Features</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="2"> 
                                    <div class="navigation-banner-wrapper align-1" style="background-image: url(img/kids-2.jpg);">
                                        <div class="navigation-banner-content">
                                            <div class="cell-view">
                                                <h2 class="subtitle" style="color: #b6772a;">New line of natural toys</h2>
                                                <h1 class="title">Ecological</h1>
                                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing  elit, sed do eiusmod tempor incididunt.</div>
                                                <div class="info">
                                                    <a class="button style-1" href="#">Shop Now</a>
                                                    <a class="button style-1" href="#">Features</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="3"> 
                                    <div class="navigation-banner-wrapper align-2" style="background-image: url(img/kids-3.jpg);">
                                        <div class="navigation-banner-content">
                                            <div class="cell-view">
                                                <h2 class="subtitle" style="color: #989457;">Take care of children</h2>
                                                <h1 class="title">Education</h1>
                                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing  elit, sed do eiusmod tempor incididunt.</div>
                                                <div class="info">
                                                    <a class="button style-9" href="#">Shop Now</a>
                                                    <a class="button style-9" href="#">Features</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="pagination"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="information-blocks">
            <div class="tabs-container">
                <div class="swiper-tabs tabs-switch">
                    <div class="title">Products</div>
                    <div class="list">
                        <a class="block-title tab-switcher active">Featured Products</a>
                        <a class="block-title tab-switcher">Popular Products</a>
                        <a class="block-title tab-switcher">New Arrivals</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div>
                    <div class="tabs-entry">
                        <div class="products-swiper">
                            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a right open-product"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                    <div class="bottom-line">
                                                        <div class="right-align">
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                        <div class="left-align">
                                                            <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-3.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <a class="top-line-a right open-product"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                    <div class="bottom-line">
                                                        <div class="right-align">
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                        <div class="left-align">
                                                            <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a right open-product"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                    <div class="bottom-line">
                                                        <div class="right-align">
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                        <div class="left-align">
                                                            <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a right open-product"><i class="fa fa-expand"></i> <span>Quick View</span></a>
                                                    <div class="bottom-line">
                                                        <div class="right-align">
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                        <div class="left-align">
                                                            <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-entry">
                        <div class="products-swiper">
                            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-3.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-3.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-entry">
                        <div class="products-swiper">
                            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-3.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <div class="bottom-line left-attached">
                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                        <a class="bottom-line-a square open-product"><i class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="information-blocks">
            <div class="row">
                <div class="information-entry col-md-6">
                    <div class="sale-entry">
                        <div class="hot-mark blue">hot</div>
                        <div class="sale-price"><span>-40%</span> winter Sale</div>
                        <div class="sale-description">Lorem ipsum dolor sit amet, consectetur adipisc elit, sed do eiusmod tempor incididunt ut labore consectetur adipisc.</div>
                    </div>
                </div>
                <div class="information-entry col-md-6">
                    <div class="sale-entry">
                        <div class="hot-mark blue">hot</div>
                        <div class="sale-price"><span>-40%</span> FREE UK DELIVERY</div>
                        <div class="sale-description">Lorem ipsum dolor sit amet, consectetur adipisc elit, sed do eiusmod tempor incididunt ut labore consectetur adipisc.</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="information-blocks">
            <div class="tabs-container">
                <div class="swiper-tabs tabs-switch">
                    <a class="block-title tab-switcher active">Product Clearance</a>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="tabs-entry">
                        <div class="products-swiper">
                            <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-3.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-1.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide"> 
                                        <div class="paddings-container">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image">
                                                    <img src="img/product-toys-2.jpg" alt="" />
                                                    <img src="img/product-toys-4.jpg" alt="" />
                                                    <a class="top-line-a left"><i class="fa fa-retweet"></i></a>
                                                    <a class="top-line-a right"><i class="fa fa-heart"></i></a>
                                                    <div class="bottom-line">
                                                        <a class="bottom-line-a"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                                <a class="tag" href="#">Men clothing</a>
                                                <a class="title" href="#">Blue Pullover Batwing Sleeve Zigzag</a>
                                                <div class="rating-box">
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                    <div class="star"><i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="price">
                                                    <div class="prev">$199,99</div>
                                                    <div class="current">$119,99</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="information-blocks">
            <div class="row">
                <div class="information-entry col-sm-8">
                    <h3 class="block-title">Company Informations</h3>
                    <div class="company-information-box">
                        <div class="image">
                            <img src="img/company-info-thumbnail.jpg" alt="" />
                        </div>
                        <div class="text">
                            <div class="cell-view">
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                                <a class="read-more">Read more <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information-entry col-sm-4">
                    <h3 class="block-title">Latest Reviews</h3>
                    <div class="swiper-container blockquote-slider" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"> 
                                <blockquote class="latest-review">
                                    <div class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"</div>
                                    <footer><cite>Helen Smith</cite>, 25 minutes ago</footer>
                                </blockquote>
                            </div>
                            <div class="swiper-slide"> 
                                <blockquote class="latest-review">
                                    <div class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"</div>
                                    <footer><cite>Helen Smith</cite>, 25 minutes ago</footer>
                                </blockquote>
                            </div>
                            <div class="swiper-slide"> 
                                <blockquote class="latest-review">
                                    <div class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"</div>
                                    <footer><cite>Helen Smith</cite>, 25 minutes ago</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    components: {
      
    },
    data () {
      return {
       
      }
    },created(){
     
    }
  };
</script>
<style>
</style>